.tabs-root {
  position: relative;
  overflow: hidden;

  border-radius: var(--br-tabs);

  box-shadow: 4px 4px 8px 0px rgba(39, 38, 38, 0.1);
}

.tabs-root--vertical {
  display: flex;

  height: 300px;
}

.tabs-list {
  display: flex;

  background-color: var(--clr-bg-tabs);
}

.tabs-list--vertical {
  flex-direction: column;

  height: 100%;
}

.tab-trigger {
  flex-grow: 1;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 100%;
  padding: 12px 12px;

  font-size: var(--fs-medium);
  font-weight: var(--fw-medium);
  letter-spacing: 1px;

  cursor: pointer;
  color: var(--clr-text-base);
  background-color: transparent;

  transition: color 0.3s ease-in-out;

  &::before {
    content: '';
    position: absolute;

    width: 100%;
    height: 0;

    background-color: rgba(251, 146, 60, 0.1);

    transition: height 0.3s ease-in-out;
  }

  &:hover:not(:disabled) {
    color: var(--clr-primary);
  }

  &:focus-visible {
    outline: 2px solid var(--clr-primary);
  }
}

.tab-trigger--horizontal {
  border-bottom: 1px solid #e2e8f0;
  border-bottom-width: 1px;

  &::before {
    bottom: 0;

    width: 100%;
    height: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    transition: height 0.3s ease-in-out;
  }
}

.tab-trigger--vertical {
  border-right: 1px solid #e2e8f0;
  border-right-width: 1px;

  &::before {
    right: 0;

    width: 0;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    transition: width 0.3s ease-in-out;
  }
}

.tab-trigger--active {
  color: var(--clr-primary);
}

.tab-trigger:where(
    .tab-trigger--horizontal,
    .tab-trigger--vertical
  ).tab-trigger--active::before {
  transition: all 0.3s ease-in-out 0.1s;
}

.tab-trigger--horizontal.tab-trigger--active::before {
  height: 100%;
}

.tab-trigger--vertical.tab-trigger--active::before {
  width: 100%;
}

.tab-trigger:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.tab-indicator {
  position: absolute;

  border-radius: var(--br-tabs);

  background-color: var(--clr-primary);
}

.tab-indicator--horizontal {
  margin-top: -3px;
  height: 3px;
}

.tab-indicator--vertical {
  margin-left: -3px;
  width: 3px;
}

.tab-panel-group {
  display: flex;
}

.tab-panel {
  overflow: auto;

  display: none;

  padding: 24px 32px 32px;

  background-color: var(--clr-bg-tabs);
}

.tab-panel--active {
  display: block;
}
